.footer{
    height: 100vh;
    display: flex;
    bottom: 0;
    background: #282828;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer-album-logo{
    height: 20px;
}