.sidebar{
    height: 100vh;
    width: 230px;
    background: #040404;
    color: #b3b3b3;
    min-width: 230px;
}

.sidebar-logo{
    max-width: 150px;
    padding: 0.8rem 0.8rem 0.3rem 0.8rem ;
}

.sidebar-title{
    font-size: 13px;
    margin-left: 10px;
    padding: 10px;
    font-weight: 650;
    letter-spacing: 0.03em;
}

.sidebar > hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}